<!DOCTYPE html>
<html>
 <head>
  <title>
   Job Applicants Report
  </title>
  <link href="http://yui.yahooapis.com/3.9.1/build/cssreset/cssreset-min.css" rel="stylesheet" type="text/css"/>
  <link href="http://yui.yahooapis.com/3.9.1/build/cssbase/cssbase-min.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
   #page {
                            width: 1200px;
                            margin: 30px auto;
                        }
                        .job-applicants {
                            width: 100%;
                        }
                        .job-name {
                            text-align: center;
                        }
                        .applicant-name {
                            width: 150px;
                        }
  </style>
 </head>
 <body>
  <div id="page">
   <table>
    <thead>
     <tr>
      <th>
       Job
      </th>
      <th>
       Applicant Name
      </th>
      <th>
       Email Address
      </th>
      <th>
       Website
      </th>
      <th>
       Skills
      </th>
      <th>
       Cover Letter Paragraph
      </th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td rowspan="9">
       Web Developer
      </td>
      <td rowspan="3">
       Russ Waters
      </td>
      <td rowspan="3">
       russ@russwaters.com
      </td>
      <td rowspan="3">
       russwaters.com
      </td>
      <td>
       Java
      </td>
      <td rowspan="3">
       Lorem ipsum Laborum adipisicing exercitation laboris enim sint ullamco sint id mollit commodo anim dolor enim occaecat pariatur proident Duis ut in.
      </td>
     </tr>
     <tr>
      <td>
       C
      </td>
     </tr>
     <tr>
      <td>
       C++
      </td>
     </tr>
     <tr>
      <td rowspan="2">
       Dakota Kautzer
      </td>
      <td rowspan="2">
       dakota@dakotakautzer.com
      </td>
      <td rowspan="2">
       dakotakautzer.com
      </td>
      <td>
       Javascript
      </td>
      <td rowspan="2">
       Lorem ipsum Id culpa sit labore laborum dolore eiusmod dolor commodo ad dolore mollit voluptate aliquip in amet reprehenderit in culpa tempor magna est ullamco eu eiusmod exercitation in cillum id id.
      </td>
     </tr>
     <tr>
      <td>
       C
      </td>
     </tr>
     <tr>
      <td rowspan="1">
       Cortez Hilpert
      </td>
      <td rowspan="1">
       cortez@cortezhilpert.com
      </td>
      <td rowspan="1">
      </td>
      <td>
       PHP
      </td>
      <td rowspan="1">
       Lorem ipsum Ex quis cillum tempor ut veniam ullamco aliqua aliquip dolor cupidatat pariatur culpa voluptate tempor officia voluptate minim est amet aliquip enim nulla et laboris officia nisi mollit ut.
      </td>
     </tr>
     <tr>
      <td rowspan="3">
       Katarina Mills
      </td>
      <td rowspan="3">
       katarina@katarinamills.com
      </td>
      <td rowspan="3">
       katarinamills.com
      </td>
      <td>
       C
      </td>
      <td rowspan="3">
       Lorem ipsum Dolore laboris dolor non adipisicing qui consequat adipisicing tempor eu nulla elit in anim do aute in nulla velit laboris consectetur laborum ex Ut cillum officia in veniam Duis sint occaecat consectetur cillum sint ea cupidatat in adipisicing.
      </td>
     </tr>
     <tr>
      <td>
       Python
      </td>
     </tr>
     <tr>
      <td>
       HTML
      </td>
     </tr>
     <tr>
      <td rowspan="4">
       Web Designer
      </td>
      <td rowspan="1">
       Jordane Hill
      </td>
      <td rowspan="1">
       jordane@jordanehill.com
      </td>
      <td rowspan="1">
       jordanehill.com
      </td>
      <td>
       Fireworks
      </td>
      <td rowspan="1">
       Lorem ipsum In veniam eiusmod voluptate dolore esse mollit qui sed occaecat sint voluptate occaecat id labore dolore quis sunt esse magna elit occaecat commodo ut cupidatat reprehenderit fugiat consectetur id ut incididunt dolore aliqua ex et proident sed.
      </td>
     </tr>
     <tr>
      <td rowspan="1">
       Kraig Oga
      </td>
      <td rowspan="1">
       kraig@kraigoga.com
      </td>
      <td rowspan="1">
       kraigoga.com
      </td>
      <td>
       Fireworks
      </td>
      <td rowspan="1">
       Lorem ipsum Dolore nisi minim dolore enim laborum magna nulla velit sed ut quis laborum occaecat esse pariatur Ut aliquip do enim cillum in adipisicing proident.
      </td>
     </tr>
     <tr>
      <td rowspan="1">
       Hilbert Price
      </td>
      <td rowspan="1">
       hilbert@hilbertprice.com
      </td>
      <td rowspan="1">
       hilbertprice.com
      </td>
      <td>
       Illustrator
      </td>
      <td rowspan="1">
       Lorem ipsum Reprehenderit dolor commodo est sunt ut Duis in sunt pariatur velit nisi aute irure dolor minim Excepteur veniam qui ut commodo Duis mollit nostrud occaecat ex dolore aliquip laboris dolore cillum ullamco enim et.
      </td>
     </tr>
     <tr>
      <td rowspan="1">
       Mikel Murazik
      </td>
      <td rowspan="1">
       mikel@mikelmurazik.com
      </td>
      <td rowspan="1">
       mikelmurazik.com
      </td>
      <td>
       Fireworks
      </td>
      <td rowspan="1">
       Lorem ipsum Reprehenderit magna dolore occaecat in velit ad in dolore voluptate quis enim velit proident irure sit ut qui ex Duis sed proident ut quis aliqua.
      </td>
     </tr>
    </tbody>
   </table>
  </div>
 </body>
</html>