<!DOCTYPE html>
<html>
  <head>
    <title>Job Applicants Report</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssbase/cssbase-min.css">
    <style type="text/css">
      #page {
        width: 1200px;
        margin: 30px auto;
      }
      .job-applicants {
        width: 100%;
      }
      .job-name {
        text-align: center;
      }
      .applicant-name {
        width: 150px;
      }
    </style>
  </head>
  <body>
    <div id="page">
      <table>
        <thead>
          <tr>
            <th>Job</th>
            <th>Applicant Name</th>
            <th>Email Address</th>
            <th>Website</th>
            <th>Skills</th>
            <th>Cover Letter Paragraph</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td rowspan="6"> Web Developer </td>
           <td rowspan="3"> John Mismash </td>
           <td rowspan="3"> kaitlin@lesch.co.uk </td>
           <td rowspan="3"> website </td>
           <td>Ruby</td>
           <td rowspan="3">Deleniti debitis soluta magni ipsum perspiciatis in itaque eligendi. Modi quidem qui nisi autem vel. Iste non quia dolores quo excepturi corrupti et nobis.</td>
          </tr>
          <tr>
            <td>PHP</td>
          </tr>
          <tr>
            <td>Javascript</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>